@import "mixins.less";

@maxw: 70vw;
@maxh: 90vh;
@minw: 800px;
@minh: 600px;

section {
  display: flex;
  position: relative;
  max-width: @maxw;
  min-width: @minw;
  max-height: @maxh;
  min-height: @minh;
  margin: 5vh auto;
  z-index: 4;
  opacity: 1;
  top: 0;
  .transition(~"all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1)");

  .h1wrap {
    width: auto;
    height: 230px;
    position: absolute;
    font-size: 200px;
    .nopadmargin;
    opacity: 0.7;
    bottom: 0.5em;
    right: 0;
    overflow: hidden;
  }

  h1 {
    .nopadmargin;
    position: absolute;
    font-size: 150px;
    opacity: 0.5;
    padding: 0.5em 0 0 0;
    font-family: 'Open Sans';
    font-weight: normal;
  }
}

/******************** HOMEPAGE ********************/
  #home {
    max-width: 90vw;
    height: @maxh;
    position: relative;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }

  @logoh: 400px;
  #home > img {
    width: @logoh;
    opacity: 0.8;
    // .transition(~"opacity 0.3s linear");
  }

  #bmes {
    font-size: 58px;
    .nopadmargin;
  }

  #ucsd {
    font-size: 36px;
  }

  #testimonials {
    padding-top: 2em;
    font-style: italic;
    .transition(~"all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1)");
  }

/******************** ABOUT PAGE / GALLERY ********************/
  #about {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
  }

  #about iframe {
    margin: 1em;
    width: 80vw;
    max-width: 800px;
    height: 65vh;
    max-height: 650px;
  }

  #description {
    width: 80%;
    max-width: @minw;
    line-height: 1.8em;
    text-align: center;
    white-space: normal;
  }

/******************** EVENTS ********************/
  #events {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
  }

  @nodedim: 20px;
  @bardim: 2px; /* actual bar thickness is twice bardim */
  #timeline {
    display: flex;
    align-items: center;
    position: relative;
    margin: 1em auto;
    width: 100%;
    height: @nodedim;
    text-align: center;
    border-radius: 3px;
    opacity: 0.3;
    left: 0;
    .transition(~"all .3s cubic-bezier(0.165, 0.84, 0.44, 1)");

    #bar {
      position: absolute;
      width: 100%;
      height: @bardim;
      background: white;
      top: @nodedim/2 - @bardim/2;
      .transition(~"all .3s cubic-bezier(0.165, 0.84, 0.44, 1)");
    }

    #nodewrap {
      position: relative;
      width: 100%;
      height: @nodedim;
    }

    .node {
      position: absolute;
      border-radius: 1000px;
      height: @nodedim;
      width: @nodedim;
      background-color: white; // transparent
      &:hover { .transform(scale(1.5)); background-color: white; };
      .transition(~"all .3s cubic-bezier(0.165, 0.84, 0.44, 1)");
    }

    #node1 { left: 70px; }
    #node2 { left: 200px; }
    #node3 { left: 450px; }
    #node4 { right: 100px; }
  }

  #cover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    z-index: 3;
    opacity: 0;
    .transition(~"all .3s cubic-bezier(0.165, 0.84, 0.44, 1)");
  }

  .event_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    z-index: 5;
    .transition(~"all 1s cubic-bezier(0.165, 0.84, 0.44, 1)");
  }

  @backdim: 48px;
  .back {
    top: 0;
    right: 0;
    position: absolute;
    border-radius: 100%;
    width: @backdim;
    height: @backdim;
    background: rgba(255,255,255,0.5);
    opacity: 0.3;
    .drop-shadow(0,0,2px,black);
    .transform(rotate(45deg));
    .transition(~"all 0.2s linear");
    &:hover { opacity: 0.6; .transform(rotate(135deg)); }

    div {
      position: absolute;
      margin: 0 6px;
      font-size: 36px;
      text-align: center;
      // border-top: @backdim/5 solid transparent;
      // border-bottom: @backdim/5 solid transparent;
      // border-right: @backdim/3 solid white;
      // opacity: 0.5;
      height: 36px;
      width: 36px;
    }
  }

  .event_gallery {
    width: 80%;
    height: 60%;
    position: relative;
    white-space: nowrap;
    background: rgba(0,0,0,0.8);
    outline: solid 1px rgba(255,255,255,0.3);
    overflow: hidden;

    .gallery_pic {
      margin: 0 auto;
      display: block;
      position: static;
      height: 100%;
      .transition(~"all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1)");
    }

    @arrowdim: 2em;
    .gallery_arrow {
      height: @arrowdim;
      width: @arrowdim;
      background: black;
      margin: auto;
      position: absolute;
      top: 0;
      bottom: 0;
      outline: solid 1px white;
      .transition(~"all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1)");
    }

    .gallery_left {
      left: 0;
    }

    .gallery_right {
      right: 0;
    }

    .gallery_slides {
      position: absolute;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: center;
      left: 0;
      bottom: 0;
      height: @minh/4;
      width: 100%;
      overflow: hidden;
      background: rgba(0,0,0,0.7);
      .transition(~"all 0.25s linear");

      img {
        height: 80%;
        margin: 0 0.5em;
        border-radius: 3px;
        opacity: 0.7;
        border: 1px solid rgba(255,255,255,0.8);
        .transition(~"all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1)");
        &:hover { opacity: 1; }
      }

      .activeImg {
        border: 2px solid rgba(255,255,255,0.8);
        opacity: 0.9;
      }
    }
  }

  .event_text {
    // width: 100%;
    margin: 0 2em;
  }

/******************** OFFICER PAGE ********************/
  #officerphoto {
    margin: 5em auto;
    height: 671px; // abs dimension
    width: 671px;
  }

  #officer {
    list-style: none;

    @hexw: 150px;
    @hexh: 180px;
    li {
      position: relative;
      display: inline-block;
      height: @hexh;
      width: @hexw;
      background: url('../assets/terynhex.png') no-repeat;
    }
  }

/******************** CONTACT ********************/
  #contact {
    p {
      font-size: 36px;
      margin: 8em auto;

      a {
        text-decoration: none;
        color: #AAF;
        .transition(~"color 0.2s linear");
        &:hover{ color: #88F; }
      }
    }
  }
