@import "mixins.less";
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Roboto:300);

/**
 * Main theme including navbars and general content formatting.
 */

/******************** GENERAL FORMATTING ********************/
@font-face {
  font-family: 'Roboto', 'Open Sans';
}

body {
  background: black;
  color: white;
  font-family: 'Roboto', 'Open Sans';
  overflow: hidden;
  .nopadmargin;
}

h2 {
  font-family: 'Roboto';
  font-size: 56px;
  font-weight: normal;
  margin: .5em 0;
}

@bgw: (100vw + 5*5vw); // parallax stepval = 5vw, 5 = # pages - 1
@bgh: 100vh;
#bg {
  position: fixed;
  top: 0;
  left: 0;
  background: url('../assets/bg.png') no-repeat center;
  background-size: 100% auto !important;
  width: @bgw;
  height: @bgh;
  .filter(brightness(0.7));
  .transition(~"all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1)");
}

#hexagons {
  position: fixed;
  top: 0;
  left: 0;
  background: url('../assets/hexBg.png') no-repeat;
  background-size: cover;
  width: 2000px;
  height: 100vh;
  opacity: 0.1;
  .transition(~"all 1s cubic-bezier(0.165, 0.84, 0.44, 1)");
}

  .photos { // general bulk photo format on website
    list-type: none;

    @photow: 15em;
    @photoh: 10em;
    li { // element format
      display: inline-block;
      position: relative;
      width: @photow;
      height: @photoh;
      margin: 1.5em 1em;

      @cOverlay: rgba(0,70,100,0.35);
      .colorOverlay { // color filter
        position: absolute;
        background-color: @cOverlay;
        border: 1px solid #a8b6c4; // covers img border
        // border-radius: 3px;
        width: @photow;
        height: @photoh;
        z-index: 5;
        opacity: 1;
        .transition(~"opacity 0.25s ease-in-out");
        &:hover { opacity: 0; } // fades on hover
      }

      img { // basic image format
        position: absolute;
        // border-radius: 3px;
        width: @photow;
        opacity: 0.9;
        border: 1px solid #c6d1de; // shows on hover
        .drop-shadow(0, 0, 2px, #222);
      }
    }
  }

/******************** NAVIGATION BAR ********************/
nav {
  .nopadmargin;
  top: 0.5em;
  position: fixed;
  z-index: 2;
  width: 100vw;

  #navslide {
    position: absolute;
    top: -2px;
    height: 26px;
    background-color: rgba(255,255,255,0.3);
    z-index: -1;
    border-radius: 5px;
    .drop-shadow(0,1px,1px,black);
    padding: 0;
    -webkit-backface-visibility: hidden; // hotfix prevents artifacts
    .transition(~"width 0.2s ease-in-out, left 0.2s ease-in-out");
  }

  ul {
    list-style: none;
    .nopadmargin;
    margin: 0 auto;
    text-align: center;
    white-space: nowrap;
    z-index: 2;

    li {
      display: inline-block;
      padding: 0 1em;
      margin: 0 auto;
      font-size: 18px;
      opacity: 0.6;
      .transition(~"opacity 0.2s, ease-in-out");
      &:hover { cursor: pointer; opacity: 1; }
    }
  }
}

/******************** SOCIAL MEDIA ********************/
.social_media {
  position: fixed;
  right: 0;
  bottom: 0;
  list-style: none;
  white-space: nowrap;
  z-index: 100;

  @itemdim: 3em;
  li {
    width: @itemdim;
    height: @itemdim;
    border-radius: 1000px;
    padding: 0.2em;
    margin: 0.2em;
    display: inline-block;
    opacity: 0.6;
    &:hover { opacity: 1; .transform(scale(1.2)); }
    .transition(~"all 0.2s ease-in-out");

    img {
      width: @itemdim;
      height: @itemdim;
      outline: none;
      border: none;
      text-align: center;
    }
  }
}
